.is-liked{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-family:  'Nothing You Could Do', cursive;

}

.not-liked{
    background-color:gray; /* Light Gray */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-family:  'Nothing You Could Do', cursive;
}

.liketext{
    padding: 8px;
    font-size: 15px;
    font-family: 'Lustria', serif;
}

.numberoflikes{
    padding: 5px;
    color: #4CAF50;
    font-family: 'Lustria', serif;
    font-size: 15px;
}