<!-- This is the template for the app component -->
<div class="logo"><span class="textlogo"><b>Like Pierre!</b></span></div>
<div class = "main-container"> 
    <app-my-image class = "app-my-image"></app-my-image>
<app-my-button class = "app-my-button"></app-my-button>
</div>

<div class= "message-container">
        <ul>
                <li class="bullet" *ngFor="let hero of messageArray">
                    <span class= "timestamp"> <b>{{ hero.timeStamp }} </b></span> <span class="actualmessage">  {{ hero.messageText }}</span>
                </li>
              </ul>
</div>
<router-outlet></router-outlet>