/* This is Stylesheet for the component */
.main-container{
    background-color: #fcf9ea;
    padding: 20px;
}

.message-container{
    background-color: #E0E2DB;
    padding: 30px;
}

.app-my-image{
    position: relative;
    left: 500px;
}

.app-my-button{
    margin: auto;
    position: relative;
    left: 510px;
    top: 200px;
}

.timestamp{
    color: #8B2635;
    padding: 10px;
    font-family:  'Nothing You Could Do', cursive;
    font-size: 20px;
}

.user{
    color: rgb(38, 139, 92);
    padding: 10px;
    font-family:  'Nothing You Could Do', cursive;
    font-size: 20px;
}

.actualmessage{
    font-family:  'Nothing You Could Do', cursive;
    font-size:  26px;
}

.bullet{
        list-style-type: none;
}

.textlogo{
    font-family:  'Nothing You Could Do', cursive;
    font-size:  31px;
    left: 650px;
    top: 10px;
    position: relative;
}

.logo{
    background-color: #fcf9ea;
}